h5{
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    
}

p{
    font-size: 20px;
    font-weight: 100;
    
}

#upvote{
    background-color: white;
    border: none;
    margin-right: 10px;
}

#downvote{
    background-color: white;
    border: none;
    margin-right: 10px;
}

i{
    font-size: 30px;
}